<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset = "UTF-8">
        <title>Connexion</title>
        <link th:href="@{/styles/style.css}"  href="../static/styles/style.css" rel="stylesheet">
        <link th:href="@{/styles/login_insciption.css}"  href="../static/styles/login_insciption.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1>Connexion</h2>

            <span th:if="${errorMsg}" class="error" th:text="${errorMsg}"></span>
            <span th:if="${logoutMsg}" class="logout" th:text="${logoutMsg}"></span>

            <form th:action="@{/login}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="form-group">
                    <label for="username">Nom d’utilisateur</label>
                    <input type="text" id="username" name="username" required />
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" required />
                </div>

                <button type="submit" class="btn">Se connecter</button>
            </form>

            <p class="register-link">
                Pas encore de compte ? <a th:href="@{/inscription}">Inscrivez-vous</a>
            </p>
        </div>
    
    </body>
</html>